body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
}

.KosaraChart {
  flex: 2 0;
}

.analysisGroup {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; 
  width: 30%;
  height: 99vh;
}

.App-link {
  color: #61dafb;
}