.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.KosaraChart {
  flex: 0 1 auto;
}

.CellTypeChart {
  flex: 1 1 auto;
}

.analysis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.App-link {
  color: #61dafb;
}